* {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 500px;
  height: auto;
}

.centered {
  display: block;
  text-align: center;
}

h1 {
  text-align: center;
}

.ingred {
  background-color: lightblue;
}

.greenback {
  background-color: rgb(178, 218, 178);
}

.redback {
  background-color: rgb(228, 179, 179);
}

.maintextmargins {
  margin-left: 200px;
  margin-right: 200px;
}