* {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 500px;
  height: auto;
}

.recipelist {
  line-height: 150%;
  list-style-position: inside;
  text-align: center;
}

.recipelist img {
  height: 300px;
  width: auto;
}

.centered {
  display: block;
  text-align: center;
}

h1 {
  text-align: center;
}

.ingred {
  background-color: lightblue;
}

.greenback {
  background-color: rgb(178, 218, 178);
}

.redback {
  background-color: rgb(228, 179, 179);
}

.beigeback {
  background-color: rgb(223, 223, 199);
}

.maintextmargins {
  margin-left: 300px;
  margin-right: 300px;
}

ul {
  line-height: 125%;
}

ol {
  line-height: 125%;
}